@model List<AutodeskWebApp.Models.Data.Driver>

<head>
    <link rel="stylesheet" href="~/css/DriverList.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/css/Font.css" asp-append-version="true"/>
</head>

<!-- 'Find' and 'View All' buttons >-->
<h1>
   <h6 class="text-center mt-4">
        <form asp-controller="Home" asp-action="DriverList" method="get"  style="display: inline-block;">
            <label>Find Driver</label>
            <input type="number" placeholder="Enter Driver Number" id="driverNumber" name="driverNumber">
                <button type="submit">Filter</button>
        </form>

        <form class="ms-10" asp-controller="Home" asp-action="DriverList" method="get"  style="display: inline-block;">
            <button type="submit">View All</button>
        </form>

        <form class="ms-10" asp-controller="Home" asp-action="AddDriver" method="get"  style="display: inline-block;">
            <button type="submit">Add New Driver</Address></button>
        </form>
    </h6>

<!-- Drivers Table >-->
    <table class="driver-table">
        <thead>
            <tr>
                <th>Headshot</th>
                <th>Name</th>
                <th>Driver Number</th>
                <th>Email</th>
                <th>Team</th>
                <th>Home Country</th>
                <th>Racing This Year</th>
                <th> </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var driver in Model)
            {
                <tr>
                    <td><img src="@driver.ImageUrl" alt="Driver Headshot" style="width: 100px; height: 100px;" /></td>
                    <td>@driver.Name</td>
                    <td>@driver.DriverNumber</td>
                    <td class="email">@driver.Email</td>
                    <td>@driver.Team</td>
                    <td>@driver.HomeCountry</td>
                    <td>@driver.IsRacingThisYear</td>
                    <td>
                        <a class="btn btn-primary" asp-controller="Home" asp-action="EditDriver" asp-route-id="@driver.Id">Edit</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</h1>
